<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faketagram</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssgram.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="antialiased text-gray-900">
    <header id="header" class="header-scrolled">

        <div class="container">

            <div class="logo" style="text-align: center;">

                <h1 class="text-light" style="margin-bottom: 25px;">

                    <a href="{% url 'profile' user.username %}" class="float-left">
                        <img src="{{ user.userprofile.image.url }}" class='rounded-circle article-img mt-1'
                            style="width: 40px;height: 40px;" alt="Image">
                    </a>
                    <a href="{% url 'index' %}" class="scrollto"><img src="{% static 'img/icons/logo.jpg' %}" alt="GIGO"
                            class="img-fluid" style="max-width: 100% !important;
                    max-height: 60px !important;"></a>
                    <a href="{% url 'explore' %}" class="float-right"><i class="fa fa-search"
                            style="font-size: 28px;margin-top: 12px;"></i></a>
                </h1>
            </div>
        </div>
    </header>

    

    <div class="min-h-screen">
        {% block content %}
        {% endblock content %}
    </div>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
